/* Estilos para la clase 'App' */
.App {
  /* text-align: center; */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado */
header {
  background-color: #007acc;
  color: white;
  padding: 20px;
}

/* Estilos para el contenido principal */
main {
  margin: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #007acc;
  color: white;
  padding: 10px;
}
